$color-primary:#087f5b;
$color-primary-light:#52a58c;
$color-primary-dark:#065940;
$color-primary-light-1:#9cccbd;
$color-primary-light-2:#e6f2ef;
$color-secondary:#2e8bd8;

$color-grey-dark-1: #777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-white: #fff;
$color-black: #000;


//font-sizes
$default-font-size:1.6rem;



$font-display:'Rubik', sans-serif;