*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    //1rem=10px
    //10/16=62.5%
    font-size: 62.5%;
    @include respond(phone){
        font-size: 50%;
    }
}

body{
    box-sizing: border-box;
    font-family: $font-display;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7;
    color: $color-grey-dark-1;
    display: grid;
    grid-template-rows:min-content calc(100vh - 14rem);
    grid-template-columns: [sidebar-start] 30rem [sidebar-end full-start] 3rem [content-start] 1fr [content-end] 3rem [full-end];
    @include respond(tab-port){
        grid-template-columns: [sidebar-start] 30rem [sidebar-end full-start] 0rem [content-start] 1fr [content-end] 0rem [full-end];
    }
    @include respond(phone){
        grid-template-columns: [sidebar-start] 30rem [sidebar-end full-start] 0rem [content-start] 1fr [content-end] 0rem [full-end];
    }
}

